.wrapper {
    max-width: 1500px;
    width: 85%;
    margin: 0 auto;
}

body {
    background-color: $mainColor;
}

img {
    max-width: 100%;
    display: block;
}

p,
a {
    @include fontStyles (1rem, 400, normal, $light);
    text-align: center;
}

// to ensure foot is always at the bottom of the page
.pageContainer {
    position: relative;
    min-height: 100vh;
}

.contentWrap {
    padding-bottom: 36px;
}

footer {
    background-color: $backColor;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 36px;
    padding-top: 5px;
}