header {
    background-color: $mainColor;
    // min-height: 35vh;
}

h1 {
    @include fontStyles(3rem, 900, italic, $light);
}

.nav {
    @include fontStyles(1.2rem, 500);
    background-color: transparent;
    border: none;
    padding: 5px;
    border-bottom: transparent 2px solid;
}

.compliment {
    margin-right: 15px;
}

.nav:hover,
.nav:focus {
    border-bottom: $accent 2px solid;
}

.outerFlexbox {
    @include flexbox(space-between);
}

.innerFlexbox {
    @include flexbox(space-between);
    align-self: center;
}

.imgContainer {
    position: relative;
}

.textContainer {
    @include flexbox (center);
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40%;
    margin: 2% 2% 2% 7.5%;
    p {
        text-align: left;
    }
}