// google fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,900&display=swap');

// variables
$mainColor: #98d2eb;
$accent: #d42d49;
$secondAccent: #AC21FD;
$primary: #40455B;
$light: #fff;
$backColor: #001020;

$fontMain: 'Poppins', 'sans-serif';

// mixins
@mixin fontStyles ($size, $weight, $style: normal, $color: $primary, $font: $fontMain) {
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
    color: $color;
    font-family: $font;
}

@mixin flexbox ($space, $direction:row){
    display: flex;
    justify-content: $space;
    flex-direction: $direction;
}

@mixin textBoxBorder {
    border: 1px solid #969595;
}


// partials
@import "./sass/normalize";
@import "./sass/basicStyles";
@import "./sass/header";
@import "./sass/main";
